# Vars for Vertex AI  Agent Engine location
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=

# Vars for billing data
BILLING_EXPORT_PROJECT_ID=
BILLING_EXPORT_DATASET=
BILLING_EXPORT_TABLE=


GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
GOOGLE_GENAI_USE_VERTEXAI=1